<h1 class="country"> {{name}}</h1>
<div class="form_country">
    <div><img src="{{flags.svg}}" alt="{{name}}" class="flag" width="100" height="80" /></div>
    <ul>
        <p class="capital"><span class="text">Capital: </span>{{capital}}</p>
        <p class="population"><span class="text">Population: </span>{{population}}</p>
        <ul class="country-languages">
            <h3 class="language">Languages:</h3>
            {{#each languages}}
            <li class="country-languages__link">{{this.name}}</li>
            {{/each}}
        </ul>
        </p>
    </ul>
    </div>
    